# COVID-19 - Analyse, visualisation et comparaisons

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("../dataset/COVID_19/country_wise_latest.csv")
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,27532,546,7660,19326,658,42,1502,1.98,27.82,7.13,22890,4642,20.28,Eastern Mediterranean
1,Albania,1788,39,1086,663,66,1,9,2.18,60.74,3.59,1385,403,29.10,Europe
2,Algeria,11385,811,8078,2496,117,12,135,7.12,70.95,10.04,10589,796,7.52,Africa
3,Andorra,855,52,792,11,1,0,1,6.08,92.63,6.57,852,3,0.35,Europe
4,Angola,166,8,64,94,11,1,0,4.82,38.55,12.50,118,48,40.68,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,600,3,415,182,45,0,0,0.50,69.17,0.72,487,113,23.20,Eastern Mediterranean
183,Western Sahara,9,1,8,0,0,0,0,11.11,88.89,12.50,9,0,0.00,Africa
184,Yemen,909,248,273,388,7,4,2,27.28,30.03,90.84,591,318,53.81,Eastern Mediterranean
185,Zambia,1416,11,1144,261,4,0,2,0.78,80.79,0.96,1200,216,18.00,Africa
186,Zimbabwe,463,4,63,396,62,0,0,0.86,13.61,6.35,332,131,39.46,Africa

In [5]:
data = pd.read_csv("../dataset/COVID_19/day_wise.csv")
data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
144,2020-06-14,7911685,433375,3715556,3762754,133545,3344,69958,5.48,46.96,11.66,187
145,2020-06-15,8033720,436883,3794955,3801882,122035,3508,79399,5.44,47.24,11.51,187
146,2020-06-16,8173199,443669,3892350,3837180,139479,6786,97395,5.43,47.62,11.40,187
147,2020-06-17,8349209,448943,4009755,3890511,176010,5274,117405,5.38,48.03,11.20,187
148,2020-06-18,8488235,453965,4090382,3943888,139026,5022,80627,5.35,48.19,11.10,187

In [6]:
data = pd.read_csv("../dataset/COVID_19/worldometer_data.csv")
data

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.309388e+08,2263749,98.0,120688.0,NaN,931076.0,82.0,1211985.0,16503.0,6840.0,365.0,26724848.0,80755.0,Americas
1,Brazil,South America,2.125087e+08,983359,NaN,47869.0,NaN,520360.0,16853.0,415130.0,8318.0,4627.0,225.0,2344437.0,11032.0,Americas
2,Russia,Europe,1.459326e+08,569063,7972.0,7841.0,181.0,324406.0,10443.0,236816.0,2300.0,3899.0,54.0,16321964.0,111846.0,Europe
3,India,Asia,1.379530e+09,381485,394.0,12605.0,1.0,205183.0,1.0,163697.0,8944.0,277.0,9.0,6426627.0,4659.0,South-EastAsia
4,UK,Europe,6.787438e+07,300469,NaN,42288.0,NaN,NaN,NaN,NaN,379.0,4427.0,623.0,7259555.0,106956.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Seychelles,Africa,9.832700e+04,11,NaN,NaN,NaN,11.0,NaN,0.0,NaN,112.0,NaN,NaN,NaN,Africa
205,MS Zaandam,NaN,NaN,9,NaN,2.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN
206,Western Sahara,Africa,5.967100e+05,9,NaN,1.0,NaN,8.0,NaN,0.0,NaN,15.0,2.0,NaN,NaN,Africa
207,British Virgin Islands,North America,3.022400e+04,8,NaN,1.0,NaN,7.0,NaN,0.0,NaN,265.0,33.0,212.0,7014.0,NaN
208,Papua New Guinea,Australia/Oceania,8.940284e+06,8,NaN,NaN,NaN,8.0,NaN,0.0,NaN,0.9,NaN,5281.0,591.0,WesternPacific